<!DOCTYPE html>
<html>
	<head>
		<title>Options | Chrome Headers</title>
		<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
	</head>
	<body>
		<section id="options">
			<h2 id="options-title"></h2>
			<div id="options-left">
				<ul id="options-navigation">
					<li><a id="options-headers"></a></li>
					<li><a id="options-about"></a></li>
				</ul>
			</div>
			<div id="options-right">
				<h2 id="options-page-title"></h2>
				<hr />

				<div id="options-headers-page">
					<table id="options-headers-table">
						<thead>
						<tr>
							<th id="options-headers-table-header"></th>
							<th id="options-headers-table-value"></th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td><label><input class="" type="text" value="" /></label></td>
							<td><label><input class="" type="text" value="" /></label></td>
							<td><button id="options-headers-table-add"></button></td>
						</tr>
						<tr><td colspan="3"><hr /></td></tr>
						</tbody>
					</table>
				</div>

				<div id="options-about-page">
					<p id="options-about-extension"></p>
					<p id="options-about-support"></p>
					<p id="options-about-author"></p>
				</div>
			</div>
		</section>
	</body>

	<script type="application/javascript" src="/actions/options.js"></script>
</html>
