<!DOCTYPE html>
<html>
	<head>
		<title>Options | Header-Editor</title>
		<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
	</head>
	<body>
		<section id="options">
			<h2 id="options-title"></h2>
			<div id="options-left">
				<ul id="options-navigation">
					<li><a id="options-request-headers"></a></li>
					<li><a id="options-response-headers"></a></li>
					<li><a id="options-about"></a></li>
				</ul>
			</div>
			<div id="options-right">
				<h2 id="options-page-title"></h2>
				<hr />

				<div id="options-request-headers-page">
					<table id="options-headers-table">
						<thead>
						<tr>
							<th id="options-headers-table-header"></th>
							<th id="options-headers-table-value"></th>
							<th id="options-headers-table-active"></th>
							<th></th>
						</tr>
						</thead>
						<tbody id="options-headers-table-body">
							<tr id="options-headers-table-create">
								<td><label><input id="options-headers-table-create-header" type="text" /></label></td>
								<td><label><input id="options-headers-table-create-value" type="text" /></label></td>
								<td><label><input id="options-headers-table-create-active" type="checkbox" checked="true" /></label></td>
								<td><button id="options-headers-table-add"></button></td>
							</tr>
							<tr><td colspan="4"><hr /></td></tr>
						</tbody>
					</table>
				</div>

				<div id="options-response-headers-page">
					<table id="options-response-headers-table">
						<thead>
							<tr>
								<th id="options-response-headers-table-header"></th>
								<th id="options-response-headers-table-value"></th>
								<th id="options-response-headers-table-active"></th>
								<th></th>
							</tr>
						</thead>
						<tbody id="options-response-headers-table-body">
							<tr id="options-response-headers-table-create">
								<td><label><input id="options-response-headers-table-create-header" type="text" /></label></td>
								<td><label><input id="options-response-headers-table-create-value" type="text" /></label></td>
								<td><label><input id="options-response-headers-table-create-active" type="checkbox" checked="true" /></label></td>
								<td><button id="options-response-headers-table-add"></button></td>
							</tr>
							<tr><td colspan="4"><hr /></td></tr>
						</tbody>
					</table>
				</div>

				<div id="options-about-page">
					<p id="options-about-extension"></p>
					<p id="options-about-support"></p>
					<p id="options-about-author"></p>

					<h3 id="options-about-attributions"></h3>

					<ul id="options-about-attribution">
						<li id="options-about-attributions-icon"></li>
					</ul>
				</div>
			</div>
		</section>
	</body>

	<script type="application/javascript" src="/actions/common.js"></script>
	<script type="application/javascript" src="/actions/options.js"></script>
</html>
