@font-face {
	font-family: "Roboto Condensed";
	src: url('/resources/fonts/RobotoCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 15px;
	color: #333;
}

h3 {
	margin: 30px 0 0 0;
}

hr {
	border: none;
	border-top: 1px solid #333;
}

input[type="submit"], input[type="reset"], button {
	cursor: pointer;
	border: 1px solid #333;
	color: #333;
	padding: 5px 15px;
	background: #fff;
	border-radius: 2px;
}

input[type="text"] {
	font-size: 12px;
	color: #888;
	outline: none;
	border: 1px solid #888;

	padding: 5px;
	border-radius: 2px;
}

input[type="text"]:hover {
	border: 1px solid #333;
}

input[type="text"]:focus {
	color: #333;
}

.clearfix {
	clear: both;
}

/* Popup Page */

/* Options Page */
#options {
	width: 1024px;
	margin: 0 auto;
}

#options-title {
	line-height: 48px;
	padding: 0 0 0 50px;
	background: transparent url("/resources/images/pencil-icon_48.png") 0 0 no-repeat;
}

#options-left {
	float: left;
	width: 200px;
}

#options-navigation {
	list-style-type: none;
}

#options-navigation > li {
	margin: 5px 0 5px 0;
}

#options-navigation > li > a {
	cursor: pointer;
	color: #888;
}

#options-navigation > li > a:hover {
	color: #333;
}

#options-right {
	float: right;
	width: 800px;
}

/* Options Request Headers */

#options-request-headers-page {
	display: none;
	margin: 30px 0;
}

#options-headers-table {
	width: 95%;
	margin: 0 auto;
	text-align: left;
}

#options-headers-table th {
	width: 25%;
}

/* Options Response Headers */

#options-response-headers-page {
	display: none;
	margin: 30px 0;
}

/* Options About */
#options-about-page {
	display: none;
}
